<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="row col-sm-4">
      <div class="col-sm-3">
        <button (click)="Back()" class="btn btn-primary">Back</button>
      </div>
      <div class="col-sm-2">
        <button (click)="Reset()" class="btn btn-primary">Reset</button>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let row of fields">
    <button *ngFor="let cell of row" [ngClass]="{ 'btn' : true,
      'btn-outline-info': !cell.show,
      'btn-success' : cell.show,
      'btn-danger' : (cell.show && cell.value === -1),
      'easy' : true,
      'medium' : (level == 'medium'),
      'hard' : (level == 'hard')
    }"
      (click)="OpenRegion(cell)" [disabled]="gameOver">
      <label [hidden]="!cell.show">{{cell.value}}</label>
      <label [hidden]="cell.show">&nbsp;</label>
    </button>
  </div>
  <div class="col-sm-3">
    <alert type="danger" [hidden]="!gameOver">
      <strong>Oh snap!</strong> Try again.
    </alert>
  </div>
</div>